<h2>Việc đã đăng</h2>

<table class="table">
    <thead>
    <tr>
        <th>Tiêu đề</th>
        <th>Địa điểm</th>
        <th>Lương</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @* TODO: Lặp qua danh sách job *@
    <tr>
        <td>Gia sư Toán lớp 10</td>
        <td>Quận Cầu Giấy</td>
        <td>100,000đ</td>
        <td><a href="#" class="btn btn-sm btn-outline-primary">Sửa</a></td>
    </tr>
    </tbody>
</table>